.App {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  min-height: 100vh;       /* Ensure full viewport height */
}


